$text-color: #161318;
$background: #F5F5F5;
$header: #6D6E70;
$primary: #EF415E;
$secondary: #46ADB4;
$accent1: #B8D9D2;
$accent2: #EDBCC6;
$accent3: #AD8991;
$tableHeader: #d47e8f;
$tableRowEven: #edbcde;
$tableRowOdd: #EDBCC6;