@import './vars';

.site-row {
    margin: 0 !important;
    &--center {
        text-align: center;
        height: 36px;
        color: $text-color;
        & > p {
            margin: 5.5px auto;
        }
    }

    &--left {
        color: $text-color;
        text-align: left;
    }

    &:nth-child(even) {
        background: $tableRowEven;
        height: 100%;
        border: none;
        border-radius: 0px;
        border-bottom: 1.5px solid $accent3;

        &--center {
            text-align: center;
            height: 36px;
            color: $text-color;
            & > p {
                margin: 6.5px auto;
            }
        }

        &--left {
            color: $text-color;
            text-align: left;
        }
    }

    &:nth-child(odd) {
        background: $tableRowOdd;
        height: 100%;
        border: none;
        border-radius: 0px;
        border-bottom: 1.5px solid $accent3;

        &--center {
            text-align: center;
            height: 36px;
            color: $text-color;
            & > p {
                margin: 6.5px auto;
            }
        }

        &--left {
            color: $text-color;
            text-align: left;
        }
    }

    &:last-child {
        background: $tableHeader;
        height: 100%;
        border: none !important;
        margin: 0 !important;
    }
}
