$text-color: #f4f4f4;
$background: #181818;
$header: #6D6E70;
$primary: #EF415E;
$secondary: #46ADB4;
$accent1: #B8D9D2;
$accent2: #EDBCC6;
$accent3: #AD8991;
$tableHeader: #d47e8f;
$tableRowEven: #edbcde;
$tableRowOdd: #EDBCC6;
$title-size: "22px";
$btn-size: "16px";
